In [1]:
import pandas as pd

In [2]:
review = pd.read_json('Data/review_city.json',lines=True)
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42

In [3]:
review.shape

(942027, 9)

In [4]:
business = pd.read_json('Data/business_city.json', lines=True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [5]:
business.shape

(36327, 14)

In [6]:
df_raw = pd.merge(review, business, how='left', on='business_id')
df_raw.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47,Black Cab & Limo,...,IL,,40.116420,-88.243383,4.5,28,1,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00,Choolaah Indian BBQ,...,PA,15206,40.460266,-79.923461,4.0,302,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Indian, Vegetarian, Vegan, Gluten...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-17:0', ..."
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59,Adega,...,OH,44115,41.499615,-81.685922,4.0,201,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B...","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42,Pita Pit,...,PA,15203,40.426647,-79.965902,3.5,57,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Fast Food, Greek, Breakfast & Brunch, Restaura...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."

In [7]:
df_raw.shape

(942027, 22)

In [8]:
df_raw.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [9]:
df = df_raw.drop(columns=['business_id', 'review_id', 'user_id', 'funny', 'cool', 'date', 'latitude', 'longitude', 'is_open', 'review_count', 'hours'])
df.head()

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,categories
0,5,1,I love Deagan's. I do. I really do. The atmosp...,Deagan's Kitchen & Bar,14810 Detroit Ave,Lakewood,OH,44107,4.0,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (..."
1,5,1,Called for a 5:15 morning reservation. The dri...,Black Cab & Limo,,Champaign,IL,,4.5,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel..."
2,4,3,A close friend was in town and so instead of t...,Choolaah Indian BBQ,6114 Centre Ave,Pittsburgh,PA,15206,4.0,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Indian, Vegetarian, Vegan, Gluten..."
3,3,0,The service is attentive. The decor attractive...,Adega,2017 E 9th St,Cleveland,OH,44115,4.0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B..."
4,4,0,The ingredients are always fresh and I like th...,Pita Pit,2763 East Carson St,Pittsburgh,PA,15203,3.5,"{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Fast Food, Greek, Breakfast & Brunch, Restaura..."

In [10]:
df.shape

(942027, 11)

In [ ]:
#Madison = df[df.city == 'Madison']
#Madison = Madison.drop(columns=['city', 'state'])
#Madison.head()

In [ ]:
#Madison.shape

In [ ]:
#Madison.reset_index(drop=True, inplace=True)
#Madison.head()

In [16]:
steak = df[df['categories'].str.contains('steak|Steak|STEAK',na=False)]
#breakfast = breakfast.drop(columns=['city', 'state'])
steak.head()

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,categories
108,4,2,Definitely a spot to check out when looking fo...,Peppi's,12 Smithfield St,Pittsburgh,PA,15222,4.0,"{'RestaurantsReservations': 'False', 'Restaura...","Restaurants, Sandwiches, Cheesesteaks, America..."
169,1,1,I gave this place 2 chances. i love japanese f...,Katana,3229 W Liberty Ave,Pittsburgh,PA,15216,3.0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Restaurants, Japanese, Sushi Bars, Chinese, St..."
188,4,0,Very fresh food and authentic Italian taste. T...,Grandview Saloon,1212 Grandview Ave,Pittsburgh,PA,15211,3.0,"{'Alcohol': 'u'full_bar'', 'WiFi': ''free'', '...","Restaurants, Steakhouses, Seafood, American (T..."
219,5,0,This is my favorite happy hour place in all of...,Tempest Oyster Bar,120 E Wilson St,Madison,WI,53703,4.0,"{'RestaurantsTakeOut': 'False', 'WiFi': 'u'no'...","Steakhouses, Restaurants, Bars, Seafood, Night..."
262,4,1,Ruth Chris Steakhouse is by far one of the bes...,Ruths Chris Steak House,6 PPG Pl,Pittsburgh,PA,15222,4.0,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, Steakhouses"

In [17]:
steak.shape

(33629, 11)

In [18]:
#Re-index the df dataframe:
steak.reset_index(drop=True, inplace=True)
steak.head()

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,categories
0,4,2,Definitely a spot to check out when looking fo...,Peppi's,12 Smithfield St,Pittsburgh,PA,15222,4.0,"{'RestaurantsReservations': 'False', 'Restaura...","Restaurants, Sandwiches, Cheesesteaks, America..."
1,1,1,I gave this place 2 chances. i love japanese f...,Katana,3229 W Liberty Ave,Pittsburgh,PA,15216,3.0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Restaurants, Japanese, Sushi Bars, Chinese, St..."
2,4,0,Very fresh food and authentic Italian taste. T...,Grandview Saloon,1212 Grandview Ave,Pittsburgh,PA,15211,3.0,"{'Alcohol': 'u'full_bar'', 'WiFi': ''free'', '...","Restaurants, Steakhouses, Seafood, American (T..."
3,5,0,This is my favorite happy hour place in all of...,Tempest Oyster Bar,120 E Wilson St,Madison,WI,53703,4.0,"{'RestaurantsTakeOut': 'False', 'WiFi': 'u'no'...","Steakhouses, Restaurants, Bars, Seafood, Night..."
4,4,1,Ruth Chris Steakhouse is by far one of the bes...,Ruths Chris Steak House,6 PPG Pl,Pittsburgh,PA,15222,4.0,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, Steakhouses"

In [19]:
import nltk
#nltk.download('punkt')

In [21]:
text = list(steak.text)

In [22]:
len(text)

33629

In [23]:
text[0]

'Definitely a spot to check out when looking for a quality sandwich at a reasonable price.\n\nThe shop staff are very friendly and more than willing to accommodate any request. \n\nDo yourself a favor and get one of the steak sandwiches off of the menu. They are amazing. The ultra is my favorite.\n\nAlso the Cancun fries are awesome. 1 order is for sue big enough to serve 2 people maybe even 3! \n\nThis is one of the Peppis that takes credit cards as well. Not all do FYI'

In [24]:
text = [a.lower() for a in text]

In [26]:
text[0]

'definitely a spot to check out when looking for a quality sandwich at a reasonable price.\n\nthe shop staff are very friendly and more than willing to accommodate any request. \n\ndo yourself a favor and get one of the steak sandwiches off of the menu. they are amazing. the ultra is my favorite.\n\nalso the cancun fries are awesome. 1 order is for sue big enough to serve 2 people maybe even 3! \n\nthis is one of the peppis that takes credit cards as well. not all do fyi'

In [27]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [28]:
text = ["".join([char for char in a if char not in string.punctuation]) for a in text]

In [29]:
text[0]

'definitely a spot to check out when looking for a quality sandwich at a reasonable price\n\nthe shop staff are very friendly and more than willing to accommodate any request \n\ndo yourself a favor and get one of the steak sandwiches off of the menu they are amazing the ultra is my favorite\n\nalso the cancun fries are awesome 1 order is for sue big enough to serve 2 people maybe even 3 \n\nthis is one of the peppis that takes credit cards as well not all do fyi'

In [30]:
nltk.word_tokenize(text[0])

['definitely',
 'a',
 'spot',
 'to',
 'check',
 'out',
 'when',
 'looking',
 'for',
 'a',
 'quality',
 'sandwich',
 'at',
 'a',
 'reasonable',
 'price',
 'the',
 'shop',
 'staff',
 'are',
 'very',
 'friendly',
 'and',
 'more',
 'than',
 'willing',
 'to',
 'accommodate',
 'any',
 'request',
 'do',
 'yourself',
 'a',
 'favor',
 'and',
 'get',
 'one',
 'of',
 'the',
 'steak',
 'sandwiches',
 'off',
 'of',
 'the',
 'menu',
 'they',
 'are',
 'amazing',
 'the',
 'ultra',
 'is',
 'my',
 'favorite',
 'also',
 'the',
 'cancun',
 'fries',
 'are',
 'awesome',
 '1',
 'order',
 'is',
 'for',
 'sue',
 'big',
 'enough',
 'to',
 'serve',
 '2',
 'people',
 'maybe',
 'even',
 '3',
 'this',
 'is',
 'one',
 'of',
 'the',
 'peppis',
 'that',
 'takes',
 'credit',
 'cards',
 'as',
 'well',
 'not',
 'all',
 'do',
 'fyi']

In [31]:
words = [nltk.word_tokenize(a) for a in text]

In [32]:
words[0]

['definitely',
 'a',
 'spot',
 'to',
 'check',
 'out',
 'when',
 'looking',
 'for',
 'a',
 'quality',
 'sandwich',
 'at',
 'a',
 'reasonable',
 'price',
 'the',
 'shop',
 'staff',
 'are',
 'very',
 'friendly',
 'and',
 'more',
 'than',
 'willing',
 'to',
 'accommodate',
 'any',
 'request',
 'do',
 'yourself',
 'a',
 'favor',
 'and',
 'get',
 'one',
 'of',
 'the',
 'steak',
 'sandwiches',
 'off',
 'of',
 'the',
 'menu',
 'they',
 'are',
 'amazing',
 'the',
 'ultra',
 'is',
 'my',
 'favorite',
 'also',
 'the',
 'cancun',
 'fries',
 'are',
 'awesome',
 '1',
 'order',
 'is',
 'for',
 'sue',
 'big',
 'enough',
 'to',
 'serve',
 '2',
 'people',
 'maybe',
 'even',
 '3',
 'this',
 'is',
 'one',
 'of',
 'the',
 'peppis',
 'that',
 'takes',
 'credit',
 'cards',
 'as',
 'well',
 'not',
 'all',
 'do',
 'fyi']

In [34]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [35]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [36]:
filtered_words = [[word for word in a if word not in stop_words] for a in words]

In [37]:
filtered_words[0]

['definitely',
 'spot',
 'check',
 'looking',
 'quality',
 'sandwich',
 'reasonable',
 'price',
 'shop',
 'staff',
 'friendly',
 'willing',
 'accommodate',
 'request',
 'favor',
 'get',
 'one',
 'steak',
 'sandwiches',
 'menu',
 'amazing',
 'ultra',
 'favorite',
 'also',
 'cancun',
 'fries',
 'awesome',
 '1',
 'order',
 'sue',
 'big',
 'enough',
 'serve',
 '2',
 'people',
 'maybe',
 'even',
 '3',
 'one',
 'peppis',
 'takes',
 'credit',
 'cards',
 'well',
 'fyi']

In [38]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [40]:
from nltk.stem.wordnet import WordNetLemmatizer
lmtzr = WordNetLemmatizer()

In [41]:
lmtzr.lemmatize('words')

'word'

In [42]:
lemmatized_words = [[lmtzr.lemmatize(x) for x in a] for a in filtered_words]

In [43]:
lemmatized_words[0][:10]

['definitely',
 'spot',
 'check',
 'looking',
 'quality',
 'sandwich',
 'reasonable',
 'price',
 'shop',
 'staff']

In [44]:
import itertools
word_list = list(itertools.chain.from_iterable(lemmatized_words))

In [45]:
from collections import Counter
freq = pd.DataFrame.from_dict(Counter(word_list), orient='index')

In [46]:
freq.sort_values(by=0, ascending=False)

                    0
food            24050
good            21705
place           17302
great           16984
service         15640
...               ...
tabitha             1
broadly             1
counterbalance      1
cocktailsthe        1
paintbrush          1

[44125 rows x 1 columns]

In [47]:
dictionary = list(freq[freq[0] > 15].index)

In [48]:
dictionary[:10]

['definitely',
 'spot',
 'check',
 'looking',
 'quality',
 'sandwich',
 'reasonable',
 'price',
 'shop',
 'staff']

In [49]:
import numpy as np
word_embedding = np.zeros([len(lemmatized_words), len(dictionary)])

In [50]:
for i,x in enumerate(lemmatized_words):
    for j,y in enumerate(dictionary):
        word_embedding[i,j] = sum([z == y for z in x])

In [52]:
word_embedding

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [53]:
word_embedding.shape

(33629, 6074)

In [55]:
sum([x == 'price' for x in lemmatized_words[0]])

1

In [61]:
#words_df=pd.DataFrame(word_embedding, columns=dictionary)

In [ ]:
#steak.to_csv (r'steak.csv', index = False, header=True)
#words_df.to_csv (r'words_df.csv', index = False, header=True)

In [62]:
df = pd.concat([steak, pd.DataFrame(word_embedding, columns=dictionary)], axis=1)

In [63]:
df

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,...,roost,susans,porta,wisconsinite,girves,ballantine,wurst,bavaria,timpones,torito
0,4,2,Definitely a spot to check out when looking fo...,Peppi's,12 Smithfield St,Pittsburgh,PA,15222,4.0,"{'RestaurantsReservations': 'False', 'Restaura...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,I gave this place 2 chances. i love japanese f...,Katana,3229 W Liberty Ave,Pittsburgh,PA,15216,3.0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0,Very fresh food and authentic Italian taste. T...,Grandview Saloon,1212 Grandview Ave,Pittsburgh,PA,15211,3.0,"{'Alcohol': 'u'full_bar'', 'WiFi': ''free'', '...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,0,This is my favorite happy hour place in all of...,Tempest Oyster Bar,120 E Wilson St,Madison,WI,53703,4.0,"{'RestaurantsTakeOut': 'False', 'WiFi': 'u'no'...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,Ruth Chris Steakhouse is by far one of the bes...,Ruths Chris Steak House,6 PPG Pl,Pittsburgh,PA,15222,4.0,"{'BusinessParking': '{'garage': False, 'street...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33624,1,0,Worst Applebee's I've been to. Service is bett...,Applebee's Grill + Bar,14020 Cedar Rd,University Heights,OH,44118,2.0,"{'HasTV': 'True', 'RestaurantsPriceRange2': '2...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33625,3,1,Great breakfasts. I downgraded it bc the sausa...,Quaker Steak & Lube,"5300 Riverside Dr, Concourse B - Inside the Ai...",Cleveland,OH,44135,3.5,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33626,1,2,"Came to Morton on New Year's Eve, very disappo...",Morton's The Steakhouse,1600 W 2nd St,Cleveland,OH,44113,3.5,"{'NoiseLevel': 'u'average'', 'GoodForKids': 'F...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33627,5,0,Have always loved The Ribeye. The best salad ...,The Ribeye,1701 S Neil St,Champaign,IL,61820,3.5,"{'RestaurantsTakeOut': 'False', 'GoodForKids':...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33628,2,0,Compared to other Hibachi restaurants I have b...,Watami Hibachi Steakhouse,2033 Lebanon Church Rd,West Mifflin,PA,15122,4.5,"{'RestaurantsReservations': 'True', 'BusinessA...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
df.to_csv (r'steak_cleaned.csv', index = False, header=True)